<p class="text-info">
    Merci d'effectuer votre achat chez SushiParty.<br />
    Voici votre panier. Vous pouvez éditer les articles, retourner à la boutique, vider votre panier ou encore procéder au paiement.
</p>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">

            <!-- articles -->
            <table class="table table-bordered">

                <!-- header -->
                <tr class="well">
                    <td><b>Article</b></td>
                    <td class="tdCenter"><b>Quantité</b></td>
                    <td class="tdRight"><b>Prix</b></td>
                    <td />
                </tr>

                <!-- message panier vide -->
                <tr ng-hide="getTotalCount() > 0" >
                    <td class="tdCenter" colspan="4">
                        Votre panier est vide.
                    </td>
                </tr>

                <!-- article du panier -->
                <tr ng-repeat="item in panier.produits | orderBy:'produit.designation'">
                    <td><img ng-src="img/{{item.produit.designation}}.png" height="100" width="100" alt="{{item.produit.designation}}"/><p>{{item.name}}</p></td>
					<!-- <td><img ng-src="img/{{product.name}}.png" height="100" width="100" alt="{{product.name}}"/></td> -->
                    <td class="tdCenter">
                      <div class="input-append">
                        <!-- use type=tel instead of  to prevent spinners -->
                        <input
                            class="span3 text-center" type="tel" 
                            ng-model="item.quantite" 
                            ng-change="saveItems()" />
                        <button 
                            class="btn btn-success" type="button" 
                            ng-disabled="item.quantite >= 1000"
                            ng-click="addItem(item, +1)">+</button>
                        <button 
                            class="btn btn-inverse" type="button" 
                            ng-disabled="item.quantite <= 1"
                            ng-click="addItem(item, -1)">-</button>
                      </div>
                    </td>
                    <td class="tdRight">{{item.produit.prixVente * item.quantite | number:2}}€</td>
                    <td class="tdCenter" title="remove from cart">
                        <a href="" ng-click="addItem(item, -10000000)" >
                            <i class="icon-remove" />
                        </a>
                    </td>
                </tr>

                <!-- footer -->
                <tr class="well">
                    <td><b>Total</b></td>
                    <td class="tdCenter"><b>{{getTotalCount()}}</b></td>
                    <td class="tdRight"><b>{{getTotalPrice() | number:2}}€</b></td>
                    <td />
                </tr>
            </table>
        </div>

        <!-- boutons -->
        <div class="span4">
            <p class="text-info">
                <button 
                    class="btn btn-block" 
                    onclick="window.location.href='default.htm'">
                    <i class="icon-chevron-left" /> Retour au catalogue
                </button>
                <button 
                    class="btn btn-block btn-success" 
                    onclick="window.location.href='default.htm#/livraison'"
                    ng-disabled="getTotalCount() < 1" >
                    <i class="icon-ok icon-white" /> Valider panier
                </button>
                <button 
                    class="btn btn-block btn-danger" 
                    ng-click="clearItems()" 
                    ng-disabled="getTotalCount() < 1" >
                    <i class="icon-trash icon-white" /> Vider le panier
                </button>
            </p>

            <br /><br />
<!-- 
            <p class="text-info">
                <button
                    class="btn btn-block btn-primary"
                    ng-click="cart.checkout('PayPal')"
                    ng-disabled="cart.getTotalCount() < 1">
                    <i class="icon-ok icon-white" /> check out using PayPal
                </button>
                <button 
                    class="btn btn-block btn-primary" 
                    ng-click="cart.checkout('Google')" 
                    ng-disabled="cart.getTotalCount() < 1">
                    <i class="icon-ok icon-white" /> check out using Google
                </button>
                <button 
                    class="btn btn-block btn-primary" 
                    ng-click="cart.checkout('Stripe')" 
                    ng-disabled="cart.getTotalCount() < 1">
                    <i class="icon-ok icon-white" /> check out using Stripe
                </button>
            </p> -->
                <!-- Stripe needs a form to post to -->
         <!--        <form class="form-stripe"></form>

            <br /><br />

            <p class="text-info">
                <button 
                    class="btn btn-block btn-link"
                    ng-click="cart.checkout('PayPal')"
                    ng-disabled="cart.getTotalCount() < 1" >
                    <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" alt="checkout PayPal"/>
                </button>    
                <button 
                    class="btn btn-block btn-link" 
                    ng-click="cart.checkout('Google')" 
                    ng-disabled="cart.getTotalCount() < 1" >
                    <img src="https://checkout.google.com/buttons/checkout.gif?w=168&h=44&style=white&variant=text" alt="checkoutGoogle"/>
                </button>    
            </p> -->
        </div>
    </div>
</div>
