<div ng-show="loading"> Chargement en cours .... </div>
<div ng-hide="loading" >
    <ul class="navigation" id="menu_horizontal">
        <li ng-repeat="item in items" class="item" ng-class="{'active': item.designation == states.activeItem}" ng-click="states.activeItem=item.designation">{{item.designation}}</li>
    </ul>
	<!--<p>Your active menu item: <span class="highlightOne">{{states.activeItem}}</span></p> ng-controller="NavigationController" -->


<p class="text-info">
    Bienvenue chez Sushi Party.<br />
    Sélectionnez les produits qui vous fond plaisir et ajoutez les dans votre panier.<br />
    Une fois votre choix effectué, cliquez sur le panier et procédez au paiement.
</p>

<p>
    Recherche: <input ng-model="search">
</p>

<table class="table table-bordered">
    <tr class="well">
        <td class="tdRight" colspan="4" >
            <a href="default.htm#/cart" title="go to shopping cart" ng-disabled="getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{getTotalCount()}}</b> Articles, <b>{{getTotalPrice() | number:2}}€</b>
            </a>
        </td>
    </tr>
    <tr ng-repeat="product in produits | orderBy:'designation' | filter:search | filter:ParCategorie" >
        <td class="tdCenter"><img ng-src="img/{{product.designation}}.png" height="100" width="100" alt="{{product.designation}}" /></td>
        <td>
            <b>{{product.designation}}</b><br />
            {{product.description}}
			<p>{{product.qteStock}} pièces</p>
        </td>
        <td class="tdRight">
            {{product.prixVente | number:2}}€
        </td>
        <td class="tdCenter">
            <a href="" ng-click="addItem(product, 1)">
                Ajouter au panier
            </a>
        </td>
    </tr>
    <tr class="well">
        <td class="tdRight" colspan="4">
            <a href="default.htm#/cart" title="go to shopping cart" ng-disabled="getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{getTotalCount()}}</b> articles, <b>{{getTotalPrice() | number:2}}€</b>
            </a>
        </td>
    </tr>
</table>
</div>